<h1><center>Inventory System</center></h1>
<h3><%= link_to 'Item Categories', item_categories_path %>
  &nbsp;&nbsp; <%= link_to 'Items', items_path %>
  &nbsp;&nbsp; <%= link_to 'Item Taxes', item_taxes_path %></h3>
